@model IEnumerable<CAA_TestApp.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>Events</h1>

<p>
    <a asp-action="Create" title=" Click here to create a new event" class="btn btn-outline-dark btn-style ">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Items
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @{
                        List<Inventory> items = new List<Inventory>();

                        foreach (var i in item.EventInventories)
                        {
                            items.Add(i.Inventory);
                        }

                        List<Inventory> distinctItems = items.GroupBy(i => i.Product.Name).Select(x => x.First()).ToList();

                        foreach (var it in distinctItems)
                        {
                            @it.Product.Name; <br />
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    <a asp-action="Edit" title=" Click here to edit" asp-route-id="@item.ID">Edit</a> | 
                    <a asp-action="Details" title=" Click here to open details " asp-route-id="@item.ID" hidden>Details</a>
                    <a asp-action="ReturnInvFromEvent" title=" Click here to return inventory from event " asp-route-id="@item.ID">Return Inventory</a>
                    <a asp-action="Delete" title=" Click here to delete this data " asp-route-id="@item.ID" hidden>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
