@model IEnumerable<CAA_TestApp.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Edit Products</h1>

<p>
    <a asp-action="DownloadProducts" class="btn btn-info float-end btn-style" hidden>Download Product</a>
</p>
<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <div class="form-horizontal">
        <button class="btn @(ViewData["Filtering"])" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter" style="border-radius: 25px;">
            Filter/Search
        </button>
        <div class="collapse" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label">Search Item Name:</label>
                        @Html.TextBox("SearchName", null, new { @class = "form-control" })
                        </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Filter by Category:</label>
                        @Html.DropDownList("CategoryID", null, "All Categories", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Filter by Organization Method:</label>
                        @Html.DropDownList("OrganizeID", null, "All Organize", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4 align-self-end" style="margin-top:5px;">
                        <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary btn-style"  />
                        <a asp-action="Index" class="btn btn-outline-dark btn-style">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<table class="table">
    <thead>
        <tr>
            <th>
                <input type="submit" name="actionButton" value="Items" class="btn btn-link"/>
            </th>
            <th>
                <input type="submit" name="actionButton" value="Par Level" class="btn btn-link" />
            </th>
            <th>
                <input type="submit" name="actionButton" value="Category" class="btn btn-link" />
            </th>
            <th>
                <input type="submit" name="actionButton" value="Organize" class="btn btn-link" />
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Classification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Organize.OrganizedBy)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> 
                    <a asp-action="Delete" asp-route-id="@item.ID" hidden>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<partial name="_PagingNavBar" />
</form>
