@using CAA_TestApp.Data;
@model IEnumerable<CAA_TestApp.Models.Inventory>

@{
    ViewData["Title"] = "Index";
}

<h1>Inventory Records</h1>

<p>
    <a asp-action="Create">Add New</a> |
    <a asp-action="Archived">Archived</a> | 
    <a asp-action="ReceivedInv">Inventory In Transit</a>
    @*<a asp-action="DownloadInventories" class="btn btn-info float-end btn-style">Download Inventory</a>*@
</p>
<form asp-action="Index" method="get" >
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <div class="form-horizontal">
        <button class=" btn @(ViewData["Filtering"]) " type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter" style="border-radius: 25px;">
            Filter/Search
        </button>
        <div class="collapse" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
                    <div class="d-block d-lg-none">
                        <div class="form-group">
                            <label class="control-label">Sort By:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" class="" value="desc"
                                               @((ViewData["sortDirection"].ToString() != "asc" ? "checked=\"checked\"" : ""))
                                               name="sortDirectionCheck" />&nbsp;&nbsp;Descending
                                    </div>
                                </div>
                                <select name="sortFieldID" class="form-control" asp-items="ViewBag.sortFieldID"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Search Item Name:</label>
                        @Html.TextBox("SearchName", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Filter by Category:</label>
                        @Html.DropDownList("CategoryID", null, "All Categories", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Filter by Branches: (Ctrl + Click to Select Multiple)</label>
                        @Html.ListBox("LocationID", null, htmlAttributes: new { @class = "form-control" })
                    </div>
@*                    <div class="form-group col-md-4">
                        <label class="control-label">Filter by Location:</label>
                        @Html.DropDownList("LocationID", null, "All locations", htmlAttributes: new { @class = "form-control" })
                    </div>*@
                    @*                    <div class="form-group col-md-4">
                    <label class="control-label">Search item ISBN:</label>
                    @Html.TextBox("SearchStringISBN", null, new { @class = "form-control" })
                    </div>*@
                    <div class="form-group col-md-4 align-self-end" style="margin-top:5px;">
                        <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary btn-style" />
                        <a asp-action="Index" class="btn btn-outline-dark btn-style ">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        @*<thead>
        <tr>
        <th>
        @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
        @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
        @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
        @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
        @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
        </tr>
        </thead>*@
        <thead>
            <tr>                  
                <th class="help-tip">                     
                    <input id="Status" type="submit" name="actionButton" value="Status" class="btn btn-link" disabled="disabled" style="color:black">
                    <img src="~/images/question-mark.png" width="10dpx" height="10px" style="border-radius:50%; margin-left:5px;">
                    <span>
                        <img src="~/images/redSmall.png" width="30dpx" height="30px"> Out of Stock
                        <img src="~/images/YSmall.png" width="30dpx" height="30px"> Low on Stock
                    </span>
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Product" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Quantity" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Category" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Location" class="btn btn-link" />
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                CaaContext _context = ViewBag.Context;
                @if (item.statusID != _context.statuses.FirstOrDefault(i => i.status == "Archived").ID)
                {
                    @if (item.statusID != _context.statuses.FirstOrDefault(i => i.status == "On transit").ID)
                    {
                        @if (item.Quantity == 0)
                        {
                            item.Status.status = "Out of Stock";

                            <tr class="">

                                
                                
                                <td>
                                    <img src="~/images/redSmall.png" width="30dpx" height="30px">

                                        @*@{
                                            if (item.ItemThumbnail?.Content != null)
                                            {
                                            string imageBase64 = Convert.ToBase64String(item.ItemThumbnail.Content);
                                            string imageSrc = string.Format("data:" + item.ItemThumbnail.MimeType + ";base64,{0}", imageBase64);
                                            <img src="@imageSrc" alt="Profile Picture of @item.Product.Name" title="Profile Picture of @item.Product.Name" class="img-fluid rounded" />
                                            }
                                        }*@
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Product.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product.Category.Classification)
                                </td>
                                <td>
                                    @{                                
                                        if(item.LocationID == null)
                                        {
                                            @Html.Display("On transit");
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.Location.City);
                                        }
                                    }
                                </td>
                                <td>
                                        <a  asp-area="" asp-controller="Inventories" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                        <a  asp-area="" asp-controller="Inventories" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                                        <a  asp-area="" asp-controller="Inventories" asp-action="Archive" asp-route-id="@item.ID">Archive</a> |
                                        <a  asp-area="" asp-controller="Inventories" asp-action="SendInv" asp-route-id="@item.ID">Transfer</a>
                                </td>
                            </tr>
                        }
                        @if (item.Quantity < item.Product.ParLevel && item.Quantity != 0)
                        {
                            item.Status.status = "Order More";
                            <tr class="">
                                <td>
                                    <img src="~/images/YSmall.png" width="30dpx" height="30px">
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product.Category.Classification)
                                </td>

                                <td>
                                    @{
                                        if (item.LocationID == null)
                                        {
                                            @Html.Display("On transit");
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.Location.City);
                                        }
                                    }
                                </td>
                                <td>
                                    <a asp-area="" asp-controller="Inventories" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                    <a asp-area="" asp-controller="Inventories" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                                    <a asp-area="" asp-controller="Inventories" asp-action="Archive" asp-route-id="@item.ID">Archive</a> |
                                    <a asp-area="" asp-controller="Inventories" asp-action="SendInv" asp-route-id="@item.ID">Transfer</a>
                                </td>
                            </tr>
                        }
                        @if (item.Quantity >= item.Product.ParLevel && item.Quantity != 0)
                        {
                            <tr>
                                <td>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Product.Category.Classification)
                                </td>

                                <td>
                                    @{
                                        if (item.LocationID == null)
                                        {
                                            @Html.Display("On transit")
                                            ;
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => item.Location.City)
                                            ;
                                        }
                                    }
                                </td>
                                <td>
                                        <a  asp-area="" asp-controller="Inventories" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                        <a  asp-area="" asp-controller="Inventories" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                                        <a  asp-area="" asp-controller="Inventories" asp-action="Archive" asp-route-id="@item.ID">Archive</a> |
                                        <a  asp-area="" asp-controller="Inventories" asp-action="SendInv" asp-route-id="@item.ID">Transfer</a>
                                </td>
                            </tr>
                        }
                    }
                }
            }
        </tbody>
    </table>
<partial name="_PagingNavBar" />
</form>
