@model IEnumerable<CAA_TestApp.ViewModels.InventoryReportsVM>

@{
    ViewData["Title"] = "Inventory Reports";
}

<h1>Inventory Report</h1>
<form asp-controller="Index" method="get">
<a asp-action="DownloadInventoriesReports" class="btn btn-info float-end btn-style">Download Inventory Report</a>
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <div class="form-horizontal">
        <button class=" btn @(ViewData["Filtering"]) " type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter" style="border-radius: 25px;">
            Filter/Search
        </button>
        <div class="collapse" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label">Search Item Name:</label>
                        @Html.TextBox("SearchName", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Filter by Branches: (Ctrl + Click to Select Multiple)</label>
                        @Html.ListBox("LocationID", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4 align-self-end" style="margin-top:5px;">
                        <input type="submit" name="actionButton" value="Filter" class="btn btn-outline-primary btn-style" />
                        <a asp-action="Index" class="btn btn-outline-dark btn-style ">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            


        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
               
        </tr>
}
    </tbody>
</table>
<partial name="_PagingNavBar" />
</form>