@model IEnumerable<CAA_TestApp.ViewModels.LowStockReportsVM>
@{
    ViewData["Title"] = "LowStockReports";
}

<h1>Low Stock Report</h1>
<form asp-controller="Inventories" asp-action="LowStockReports" method="get">
    <a asp-action="DownloadLowStockReports" title=" Click here to download Low stock reports" class="btn btn-info float-end btn-style">Download Low Stock Report</a>
    <div class="form-horizontal">
        <button class=" btn btn-style  @(ViewData["Filtering"]) " type="button" data-bs-toggle="collapse" id="filterToggle"
            title=" Click here to filter or search records" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter" style="border-radius: 25px;">
            Filter/Search
        </button>
        <br />
        <br />

        <div class="collapse" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
                    <br />
                   
                    <div class="form-group col-md-4">
                        <label class="control-label">Search Item Name:</label>
                        @Html.TextBox("SearchName", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Filter by Branches: (Ctrl + Click to Select Multiple)</label>
                        @Html.ListBox("LocationID", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4 align-self-end" style="margin-top:5px;">
                        <input type="submit" title="Click here to filter the records" name="actionButton" value="Filter" class="btn btn-outline-primary btn-style" />
                        <a asp-action="LowStock Reports" title=" Click here to clear the filter" class="btn btn-outline-dark btn-style ">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Product)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.ParLevel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>



            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ParLevel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>

                </tr>
            }
        </tbody>
    </table>
    <partial name="_PagingNavBar" />
</form>