@model CAA_TestApp.Models.Inventory

@{
    ViewData["Title"] = "NoActionDetails";
}

<h1> @Html.DisplayFor(model => model.Product.Name) Transfer</h1>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISBN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISBN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            Going To
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
           Coming From
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location.City)
        </dd>
    <!--   <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShelfOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShelfOn)
        </dd> --> 
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
   <!--     <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateReceived)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateReceived)
        </dd> --> 

   <!--     <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.ID)
        </dd> -->
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
