@using CAA_TestApp.Data;
@model IEnumerable<CAA_TestApp.ViewModels.NoStockReportsVM>
@{
    ViewData["Title"] = "Zero Stock Reports";
}

<h1>Zero Stock Report</h1>
<form asp-controller="Index" method="get">
    <a asp-action="DownloadNoStockReports" class="btn btn-info float-end btn-style">Download No Stock Report</a>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Product)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParLevel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.ParLevel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>

                </tr>
            }
        </tbody>
    </table>
    <partial name="_PagingNavBar" />
</form>