@using CAA_TestApp.Data;
@model IEnumerable<CAA_TestApp.Models.Inventory>

@{
    ViewData["Title"] = "On transit";
}

<h1>Inventory In Transit</h1>

<p>
    <a asp-action="Index" title=" Click here to go back to main Inventory page">Back to Inventory</a>
    @*<a asp-action="DownloadInventories" class="btn btn-info float-end btn-style">Download Inventory</a>*@
</p>
<form asp-action="ReceivedInv" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <div class="form-horizontal">
        <button class=" btn @(ViewData["Filtering"]) " type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" 
               title=" Click here to filter or search records" aria-expanded="false" aria-controls="collapseFilter" style="border-radius: 25px;">
            Filter/Search
        </button>
        <div class="collapse" id="collapseFilter">
            <div class="card card-body bg-light">
                <div class="row">
                    <div class="d-block d-lg-none">
                        <div class="form-group">
                            <label class="control-label">Sort By:</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <input type="checkbox" class="" value="desc"
                                        @((ViewData["sortDirection"].ToString() != "asc" ? "checked=\"checked\"" : ""))
                                               name="sortDirectionCheck" />&nbsp;&nbsp;Descending
                                    </div>
                                </div>
                                <select name="sortFieldID" class="form-control" asp-items="ViewBag.sortFieldID"></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Search Item Name:</label>
                        @Html.TextBox("SearchName", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Filter by Category:</label>
                        @Html.DropDownList("CategoryID", null, "All Categories", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Filter by Location:</label>
                        @Html.DropDownList("LocationID", null, "All locations", htmlAttributes: new { @class = "form-control" })
                    </div>
                    @*                    <div class="form-group col-md-4">
                    <label class="control-label">Search item ISBN:</label>
                    @Html.TextBox("SearchStringISBN", null, new { @class = "form-control" })
                    </div>*@
                    <div class="form-group col-md-4 align-self-end" style="margin-top:5px;">
                        <input type="submit" title=" Click here to filter records" name="actionButton" value="Filter" class="btn btn-outline-primary btn-style" />
                        <a asp-action="Index" title=" Click here to clear the filter" class="btn btn-outline-dark btn-style ">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table">
        @*<thead>
        <tr>
        <th>
        @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
        @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
        @Html.DisplayNameFor(model => model.Cost)
        </th>
        <th>
        @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
        @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
        </tr>
        </thead>*@
        <thead>
            <tr>
                <th>ISBN</th>
                <th>
                    <input type="submit" name="actionButton" value="Product" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Quantity" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Cost" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Category" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Location" class="btn btn-link" />
                </th>
                <th>Sent</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                CaaContext _context = ViewBag.Context;

                @if (item.statusID == _context.statuses.FirstOrDefault(i => i.status == "On transit").ID)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ISBN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.Category.Classification)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location.City)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Notes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status.status)
                        </td>
                        <td>
                            <a asp-action="RecieveInv" title=" Click here to transfer" asp-route-id="@item.ID">Transfer</a> |
                            <a asp-action="NoActionDetails" title=" Click here to see details " asp-route-id="@item.ID">Details</a> |
                            <a asp-action="SendInvQr" title=" Click here to Print label" asp-route-id="@item.ID">Reprint label</a>
                        </td>
                    </tr>

                }
            }

        </tbody>
    </table>
    <partial name="_PagingNavBar" />
</form>