@model IEnumerable<CAA_TestApp.Models.Organize>

@{
    ViewData["Title"] = "Index";
}

<h1>Product Organization</h1>

<p>
    <a asp-action="Create" title=" Click here to create a new record" class="btn btn-outline-dark btn-style ">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrganizedBy)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrganizedBy)
            </td>
            <td>
                <a asp-action="Edit" title=" Click here to edit" asp-route-id="@item.ID">Edit</a> 
                    <a asp-action="Details" title=" Click here to open details" asp-route-id="@item.ID" hidden>Details</a>
                <a asp-action="Delete" title=" Click here to delete record" asp-route-id="@item.ID" hidden>Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
